<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Visualization Page</title>
    <link rel="stylesheet" href="./style.css">
    <style>
        .enlarged { font-size: 1.5em; font-weight: bold; }
    </style>
</head>
<body>

    <div class="container">
        <h1>
            <span class="enlarged">E</span>xecutable &amp; <span class="enlarged">L</span>inkable <span class="enlarged">F</span>ormat
        </h1>
        <nav class="sidebar">
            <vscode-button class="btn" id="Overview">📁 Overview</vscode-button>
            <vscode-button class="btn" id="Sections">📊 Sections</vscode-button>
            <vscode-button class="btn" id="Segments">⚙️ Segments</vscode-button>
            <vscode-button class="btn" id="Symbols">🔍 Symbols &amp Strings </vscode-button>
        </nav>
        <!-- The HTML canvas element for drawing -->
        <div id="visualization"></div>
    </div>

    <script src="./app.js" type="module"></script>
    <script src="./vscode-elements/bundled.js" type="module"></script>

</body>
</html>
