<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Visualization Page</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div class="container">
        <h1>My Basic Web Page with Visualization</h1>
        <p>This page uses an HTML canvas element to display a simple visualization.</p>
        <p id="readelf"></p>
        <!-- The HTML canvas element for drawing -->
        <div id="visualization"></div>
    </div>

    <script src="./app.js" type="module"></script>

</body>
</html>
